@font-face {
    font-family:testFont;
    src: url(mynewfont.ttf);
}

.contact-form{
    border: 2px  solid black;
    font-family: testFont;
    width: fit-content;
    margin-left: 40%;
    margin-top: 20%;
}
